.TodoList {
  color: white;
  margin: 3rem auto;
  display: flex;
  width: 24rem;
  flex-direction: column;
  background-color: rgb(228, 54, 54);
}

.TodoList-headers {
  margin: 2rem 2rem;
}

.TodoList-main-header {
  margin: 0;
}

.TodoList-sub-header {
  font-weight: 400;
  margin: 0;
}

.TodoList-todos {
  width: 100%;
  margin: 0;
}
