.Todo {
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 3rem;
  background-color: rgb(226, 77, 77);
}

.Todo-task {
  margin: 0;
}

.Todo-buttons {
  margin-left: auto;
}
